<%- include('../header') -%>


<% if(compras.length <= 0) { %>
  <div class="container row">
    <div class="col-sm-10 mt-4">
      <div class="alert alert-danger" role="alert">
        <p class="lead text-center"> No existen compras </p>
      </div>
    </div>
  <div class="col-sm-2 mt-4">
    <a href="/" class="btn btn-warning btn-sm">Regresar</a>
  </div>
</div>
<% } else { %>
<div class="container row">
  <div class="col-sm-10 mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Compra total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(let compra of compras) { %>
        <tr>
          <td> <%= compra.reserva.user %> </td>
          <td> <%= compra.quantity %>  </td>
          <td> <%= compra.price %>  </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
    <a href="/" class="btn btn-warning btn-sm mt-4">Regresar</a>
  </div>
</div>
<% } %>
<%- include('../footer') -%>
