<%- include('../header') -%>

<div class="container">
    <div class="justify-content mt-6 text-center">
        <div class="text-center mt-6">
            <p class="display-6"><strong>Reservas activas </strong></p>
        </div>
        <hr />
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ticket</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i<reservas.length; i++){ %>
                    <tr>
                        <td><%= reservas[i].user %></td>
                        <td><%= reservas[i].ticket %></td>
                        <td><%= reservas[i].quantity %></td>
                        <td><%= reservas[i].date.toLocaleDateString('en-CA') %></td>
                        <td>
                            <a href="/compras-tickets/<%= reservas[i]._id %> " class="btn btn-success">Comprar</a>
                            <a href="/eliminar/<%= reservas[i]._id %>" class="btn btn-danger">Eliminar</a>
                            <a href="/editar/<%= reservas[i]._id %>" class="btn btn-info">Editar</a>
                        </td>
                    </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>

</div>

<%- include('../footer') -%>